<div class="container">
    <div class="row">
      <h1>My To do List</h1>
      <div class="col">
        Task Name:&nbsp;&nbsp;<input type="text" (keyup)="onKeyName($event)" /></div>
        <div class="col">
        Task Desc:&nbsp;&nbsp;<input type="text" (keyup)="onKeyDesc($event)"/></div>
        <div class="col">
            Due Date:&nbsp;&nbsp;<input type="date" [(ngModel)]="tDueDate"/>
        </div>
        <div class="col">
        <button class="btn btn-primary" type="button" (click)="addTask()" >Add Task</button></div>
    </div>
    <div class="row">
      <br>
      <hr>
    </div>
    <div class="row">
      <div *ngFor="let tp of types" class="col">
        <pm-list  [taskType]="tp" ></pm-list>
      </div>

    </div>
  </div>